@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(XRXV3I6Li01BKof4Mw.eot)/*tpa=https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKof4Mw.eot*/;
}
